@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; visibility: visible; }
}

.dark .MuiBox-root.glass-modal{
  --tw-bg-opacity: 0.2;
}

.dark * {
  scrollbar-width: thin;
  scrollbar-color: #181818 #252525;
}

.dark *::-webkit-scrollbar {
  width: 0.6em;
  position: absolute;
}

.dark *::-webkit-scrollbar-thumb {
  background-color: rgb(188 188 188 / 60%);
}

.dark *::-webkit-scrollbar-track {
  background-color: #323431;
}